*{
    margin:0;
    padding:0;
    color:whitesmoke;
    box-sizing: border-box;
}
body{
    background-color: rgb(19, 14, 14);
}
.app{
    margin:30px 5% 0 5%;
}

.navbar-container{
    background:rgb(35, 2, 58);
    margin:0;
    max-height: 60px;
    align-items: center;
    display: block;
}
.nav-item{
    font-size: 1.2rem;
    padding:0.5rem 1rem;
    margin: 0 15px;
    display: inline-block;
    text-decoration: none;
    color:whitesmoke;
}
.nav-item:hover{
    text-decoration: underline;
    color:LightPink ;
}
.right{
    float: right;
}
h1{
    color:crimson;
}
.card-container{
    display: inline-block;
    max-width:400px;
    max-height: 600px;
    margin:10px;
    border:3px solid rgb(35, 2, 58);
    border-radius: 5%;
    background-color: rgb(119, 29, 20);
}
.card{
    margin: 0;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
}
.card-text{
    width:60%;
    text-align: center;
    align-self: flex-end;
    height: 100%;
    margin: 2px 5px;
}

.img-container{
    margin: 0;
    width:35%;
    height:100%;
}
img{
    width:100%;
}
.card-container *{
    display: inline-block;
}
.search-input{
    width:100%;
    color: black;
    height: 30px;
    margin-right: 10px;
}
.search-container{
    display: flex;
    width: 100%;
    min-width:400px;
}
.search{
    min-width: 300px;
    margin: 10px;
}
.aviso{
    color: salmon;
    font-size: 1.4rem;
}
.superheroe{
    width:80%;
    border: 4px solid lavender;
    border-radius: 15px;
}
.hero-text{
    font-size:1.5rem ;
}
.heroscreen{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color:whitesmoke;
    color: crimson;
    padding:5px 15px;
    border: 4px solid crimson;
    border-radius: 12%;
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(35, 2, 58);
    color: MediumPurple;

}
.btn-search{
    width: 100%;
    border-radius:0;
}
.logout-btn{
    background: transparent;
    text-decoration: none;
    border: none;
}